.form {
  background-color: #fafafa;
}

.section__form-container {
  padding: 20px 20px;
  /* background-color: red; */
}

.form__container {
  background-color: white;
  padding: 20px;
}

.form__input {
  /* max-width: 585px; */
  /* width: 100%; */
  padding: 11px 21px;
  margin: 10px 0px 12px 0px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 100%;
}

.section__heading-form {
  margin-bottom: 10px;
  font-size: 32px;
}

.form__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.form__img-container {
  display: none;
  /* margin-right: 52px; */
}

.form__submit {
  display: inline-block;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #ffa62b;
  margin-top: 40px;
  cursor: pointer;
}

.form__submit:hover {
  background: #e78f14;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .form__img-container {
    display: block;
    /* margin-right: 52px; */
    float: left;
    width: 33.33%;
    /* min-height: 80vh;
    height: 100%; */
    /* background: url("../images/form-img.png"); */
  }

  .form__container {
    background-color: white;
    padding: 0px;
  }

  .form__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form__body {
    padding: 20px 32px;
    float: left;
    /* width: calc(100% / 2); */
    width: 66.66%;
    float: left;
    /* background-color: blue; */
    /* padding: 20px; */
  }

  .form__input {
    width: 100%;
  }
}

@media screen and (min-width: 1049px) {
  .form__container {
    margin-top: -260px;
    /* background-color: rgb(54, 54, 54); */
  }

  .form__input {
    max-width: 585px;
    width: 100%;
  }

  .form__body {
    padding: 40px 52px;
    /* background-color: red; */
  }

  .section__heading-form {
    margin-bottom: 40px;
    font-size: 40px;
  }
}
