.section__container {
  padding: 60px 20px;
  max-width: 1049px;
  width: 100%;
  margin: 0px auto;
}

.section__top-container {
  text-align: center;
  max-width: 508px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 50px;
}

.section__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.section__paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 1049px) {
  .section__container {
    padding: 60px 0px;
  }
}
